* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    overflow-x: hidden;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0.2) 28%,
            rgba(20, 20, 20, 0.2) 80%,
            rgba(20, 20, 20, 1) 100%),
        url(./imagens/banner.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 0 3rem;
}

/* --------- HEADER ---------- */

.header {
    display: flex;
    align-items: center;
}

.menu {
    margin-left: auto;
}

.menu,
.menu-right {
    display: flex;
    align-items: center;
}

.menu ul,
.menu-right ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.menu a:hover {
    color: #b3b3b3;
}

.user {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user img {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    object-fit: cover;
}

/* ----------- BANNER ----------- */

.banner {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.banner .poster {
    width: 450px;
}

.banner .subtitle {
    font-size: 1.3rem;
    color: #fff;
    line-height: 1.4;
    margin-top: .5rem;
}

.buttons {
    margin-top: 2rem;
}

.buttons .btn {
    color: #fff;
    padding: 0.6rem 2rem;
    margin-right: .75rem;
    font-weight: 600;
    border-radius: 4px;
    background: rgba(51, 51, 51, 0.6);
    border: 0;
    cursor: pointer;
    transition: 0.3s;
}

.buttons .btn:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* ------------- CATEGORIAS --------------- */

.category {
    margin-top: 2rem;
}

.category span {
    color: #e5e5e5;
    font-size: 18px;
    font-weight: 600;
}

.slider {
    margin-top: 1rem;
    display: flex;
    gap: 10px;
    padding-left: 3.75rem;
    overflow: hidden;
}

.slider .movie {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.slider .movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .movie:hover {
    transform: scale(1.08);
}

/* -------------- FOOTER ------------- */

.footer {
    margin: 100px auto 0;
    width: 80%;
    color: #808080;
}

.footer .social i {
    padding-right: 26px;
    font-size: 26px;
    cursor: pointer;
}

.flex {
    display: flex;
    padding-bottom: 80px;
}

.footer .info {
    width: 25%;
}

.footer .info ul {
    list-style: none;
    font-size: 12px;
    padding: 0;
}

.footer .info ul li {
    margin-top: 8px;
}
